
*{
   
   padding: 0;
   margin: 0;
   border: 0;
}



#Parrafotaller h1{
height: 120px;
width: 518px;
font-size: 0.8em;
position: absolute;
top: 00px;
left:20px;
right: 150px;
text-align: justify;
}

#Parrafotaller img{
height: 200px;
width: 318px;

position: absolute;
top: 150px;
left:600px;
right: 150px;

}
#Parrafotaller1 h2{
height: 120px;
width: 518px;
font-size: 0.8em;
position: absolute;
top: 600px;
left:00px;
right: 420px;
text-align: justify;
}
#Parrafotaller1 img{
height: 200px;
width: 318px;

position: absolute;
top: 800px;
left:600px;
right: 420px;

}
