*{
   
   padding: 0;
   margin: 0;
   border: 0;
}


#articulo{

background: #005883;
height: 10px;
width: 980px;
margin-right: auto;
margin-left: auto;
padding-top: 700px;
color: #FFFFFF;
font-family: "angsa";
font-size: 1.5em;
text-align: center;
position: absolute;
top: 370px;
left: 262px;
text-align: center;
 box-shadow: 5px 5px 5px 5px #000;
}



h4{
color: #FFFFFF;
margin: 0.25em auto;
position: absolute;
top:  60px;
left: 10px;
  TEXT-ALIGN:justify;
font-size: 0.79em;
width: 300px;

}

h5{

	color: #FFFFFF;
margin: 0.10em auto;
position: absolute;
top:  340px;
left: 10px;
DECORATION: none ; TEXT-ALIGN:justify;
font-size: 1.0em;
width: 400px
}

p{

	color: #FFFFFF;
margin: 0.25em auto;
position: absolute;
top:  370px;
left: 10px;
DECORATION: none ; TEXT-ALIGN:justify;
font-size: 0.89em;
width: 300px

}


 #twitter{
position:  absolute;

left: 30px;


 }

#video{
position: absolute;
top: 160px;
left:370px;

}


