*{
   
   padding: 0;
   margin: 0;
   border: 0;
}


#articulo{

background: #005883;
height: 10px;
width: 980px;
margin-right: auto;
margin-left: auto;
padding-top: 1200px;
color: #FFFFFF;
font-family: "angsa";
font-size: 1.5em;
text-align: center;
position: absolute;
top: 370px;
left: 262px;
text-align: center;
 box-shadow: 5px 5px 5px 5px #000;
}



h4{

color: #FFFFFF;
margin: 0.25em auto;
position: absolute;
top:  30px;
left: 10px;
  TEXT-ALIGN:justify;
font-size: 0.59em;
width: 950px;

}

h5{

	color: #FFFFFF;
margin: 0.10em auto;
position: absolute;
top:  220px;
left: 10px;
DECORATION: none ; TEXT-ALIGN:justify;
font-size: 1.0em;
width: 900px
}

p{

	color: #FFFFFF;
margin: 0.25em auto;
position: absolute;
top:  250px;
left: 10px;
DECORATION: none ; TEXT-ALIGN:justify;
font-size: 0.89em;
width: 900px

}

#articulo  img{
height: 250px;
width: 470px;

position: absolute;
top: 220px;
left: 250px;
right: 150px;
}
