*{
   
   padding: 0;
   margin: 0;
   border: 0;
}


#articulo{

background: #005883;
height: 10px;
width: 980px;
margin-right: auto;
margin-left: auto;
padding-top: 1000px;
color: #FFFFFF;
font-family: "angsa";
font-size: 1.5em;
text-align: center;
position: absolute;
top: 370px;
left: 262px;
text-align: center;
 box-shadow: 5px 5px 5px 5px #000;
}





#articulo  img{
height: 250px;
width: 470px;

position: absolute;
top: 220px;
left: 250px;
right: 150px;
}

#Actividades2  img{
height: 420px;
width: 548px;


position: absolute;
top: 500px;
left: 280px;
right: 150px;
}

#Actividades2 h1{
height: 120px;
width: 218px;
font-size: 1.5em;
position: absolute;
top: 500px;
left:20px;
right: 150px;
text-align: left;
}
p{
height: 420px;
width: 548px;


position: absolute;
top: 00px;
left: 280px;
right: 150px;


}