*{
   
   padding: 0;
   margin: 0;
   border: 0;
}


#articulo{

background: #005883;
height: 10px;
width: 980px;
margin-right: auto;
margin-left: auto;
padding-top: 1000px;
color: #FFFFFF;
font-family: "angsa";
font-size: 1.5em;
text-align: center;
position: absolute;
top: 370px;
left: 262px;
text-align: center;
 box-shadow: 5px 5px 5px 5px #000;
}





#articulo  img{
height: 420px;
width: 540px;

position: absolute;
top: 60px;
left: 250px;
right: 150px;
}

#Actividades2  img{
height: 420px;
width: 548px;


position: absolute;
top: 550px;
left: 250px;
right: 150px;
}

#Actividades2 h1{
height: 420px;
width: 548px;
font-size: 0.8em;
position: absolute;
top: 470px;
left:280px;
right: 150px;

}
p{
height: 420px;
width: 548px;


position: absolute;
top: 10px;
left: 280px;
right: 150px;


}