*{
   
   padding: 0;
   margin: 0;
   border: 0;
}


#articulo{

background: #005883;
height: 10px;
width: 980px;
margin-right: auto;
margin-left: auto;
padding-top: 400px;
color: #FFFFFF;
font-family: "angsa";
font-size: 1.5em;
text-align: center;
position: absolute;
top: 370px;
left: 262px;
text-align: center;
 box-shadow: 5px 5px 5px 5px #000;
}

#video{
height: 250px;
width: 470px;

position: absolute;
top: 80px;
left: 20px;

}




 p{
color: #FFFFFF;
margin: 0.25em auto;
position: absolute;
top: 30px;
left: 20px;
width: 550px;
font-size: 1.1em;

}

#articulo  img{
height: 180px;
width: 270px;

position: absolute;
top: 100px;
left: 650px;

}
